.mobile_cards_section {
  margin: 5vh 15vw 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
}

.desk_cards_section {
  margin: 15vh 15vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
}
