.projects_section {
  margin: 15vh 8vw 0;
}

.proj_page_title {
  margin-bottom: 10vh;
  font-size: 2.2vw;
  text-align: center;
  color: #00a8e8;
}

.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15vh;
}

.rtl_header_title {
  font-size: 1.1vw;
  font-weight: 300;
  color: white;
}

.rtl_proj_title {
  font-size: 1.5vw;
  margin: 2vh 0 4vh;
  color: white;
}

.rtl_proj_text {
  margin-left: 7vw;
  font-size: 1vw;
  font-weight: 300;
  color: white;
}

.rtl_more_info_btn {
  font-size: 1.1vw;
  font-weight: 300;
  margin-top: 15vh;
  padding: 1.2vh 1.6vw;
  color: white;
  background-color: #00a8e8;
  border-radius: 0.5rem;
}

.ltr_header_title {
  margin-right: 5vw;
  font-size: 1.1vw;
  font-weight: 300;
  color: white;
}

.ltr_proj_title {
  font-size: 1.5vw;
  margin: 2vh 5vw 4vh;
  color: white;
}

.ltr_proj_text {
  margin: 0 5vw 0 2vw;
  font-size: 1vw;
  font-weight: 300;
  color: white;
}

.ltr_more_info_btn {
  font-size: 1.1vw;
  font-weight: 300;
  margin: 15vh 5vw 0 0;
  padding: 1.2vh 1.6vw;
  color: white;
  background-color: #00a8e8;
  border-radius: 0.5rem;
}
