.projects_section {
  margin: 15vh 8vw 0;
}

.proj_page_title {
  margin-bottom: 10vh;
  font-size: 2.2vw;
  text-align: center;
  color: #00a8e8;
}

.project {
  display: flex;
  gap: 5vw;
  margin-bottom: 15vh;
}

.img{
  width: 50vw;
}

.rtl_header_title {
  font-size: 1.1vw;
  font-weight: 300;
  color: white;
}

.rtl_proj_title {
  font-size: 1.5vw;
  margin: 2vh 0 4vh;
  color: white;
}

.rtl_proj_text {
  width: 34vw;
  font-size: 1vw;
  font-weight: 300;
  color: white;
  text-align: justify;
  word-spacing: -0.05em;
}

.rtl_more_info_btn {
  font-size: 1.1vw;
  font-weight: 300;
  margin-top: 15vh;
  padding: 1.1vh 1.6vw;
  color: white;
  background-color: #00a8e8;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.ltr_header_title {
  font-size: 1.1vw;
  font-weight: 300;
  color: white;
}

.ltr_proj_title {
  font-size: 1.5vw;
  margin: 2vh 0 4vh;
  color: white;
}

.ltr_proj_text {
  width: 34vw;
  font-size: 1vw;
  font-weight: 300;
  color: white;
  text-align: justify;
  word-spacing: -0.05em;
}

.ltr_more_info_btn {
  font-size: 1.1vw;
  font-weight: 300;
  margin-top: 15vh;
  padding: 1.2vh 1.6vw;
  color: white;
  background-color: #00a8e8;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}


/* mobile view */

.projects_section_mobile{
  margin: 20vw 8vw 0;
}
.proj_page_title_mobile{
  margin-bottom: 6vh;
  font-size: 5vw;
  text-align: center;
  color: #00a8e8;
}
.proj_mobile{
  display: flex;
  justify-content: center;
  margin-bottom: 15vh;
  flex-direction: column;
  align-items: center;
}
.proj_descriptions_mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_title_mobile{
  font-size: 3.5vw;
  font-weight: 400;
  color: white;
}
.proj_title_mobile{
  font-size: 4.5vw;
    margin: 2vw;
    color: white;
}
.proj_text_mobile{
  font-size: 4vw;
  font-weight: 300;
  color: white;
  text-align: center;
  width: 80vw;
  text-align: justify;
  word-spacing: -0.05em;
}
.proj_pic_mobile{
  width: 80vw;
  margin-top: 2.5vh;
}
.more_info_btn_mobile{
  font-size: 3.5vw;
    font-weight: 300;
    margin-top: 2.5vh;
    padding: 1.2vh 1.6vw;
    color: white;
    background-color: #00a8e8;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}