.mobile_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
  /* height: 32vh; */
  padding: 3vh 2vh;
  border: solid transparent;
  border-radius: 3vw;
}

.mobile_card_img {
  width: 20vw;
}

.mobile_card_title {
  font-size: 4.8vw;
  background-clip: text !important;
  color: transparent;
}

.mobile_card_description {
  font-size: 3.5vw;
  font-weight: 300;
  text-align: center;
  color: white;
}

.desk_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  height: 40vh;
  max-width: 20vw;
  padding: 0 3vh 2vh;
  border: solid transparent;
  border-radius: 1vw;
}

.desk_card_img {
  width: 7.5vw;
  margin-top: 2vh;
}

.desk_card_title {
  font-size: 1.3vw;
  background-clip: text !important;
  color: transparent;
}

.desk_card_description {
  font-size: 1vw;
  font-weight: 300;
  text-align: center;
  color: white;
}
