.card {
  height: 21vw;
  gap: 6px;
  padding: 0 1.5vw;
  padding-bottom: 1.5vw;
  border: solid transparent;
  border-radius: 10px;
  direction: rtl;
  max-width: 19vw;
  min-width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__img{
    width: 8vw;
    height: auto;
    margin: 4vh 2vh 1vh 2vh;
}
.card__title {
  font-size: 1.3vw;
  background-clip: text !important;
  color: transparent;
}
.card__description {
  font-size: 1.1vw;
  font-weight: 300;
  text-align: center;
  color: white;
}
