.footer_section {
  padding: 5vh 0;
  color: #2ec5ff;
  background-color: #002036;
  text-align: center;
}

.head_title {
  display: flex;
  justify-content: center;
  column-gap: 0.8vw;
  margin-bottom: 3vh;
}
.icon_mobile{
  width: 8vw;
}
.title_text {
  font-size: 1.2vw;
  font-weight: 300;
  color: white;
}
.title_text_mobile{
  font-size: 4vw;
    FONT-VARIANT: JIS83;
    color: white;
    display: flex;
    /* align-content: center; */
    align-items: center;
}

.address_number {
  font-weight: 300;
}

.address {
  font-size: 1vw;
  font-weight: 300;
  margin-bottom: 1vh;
}
.address_mobile{
  font-size: 3.5vw;
}
.number {
  font-size: 1vw;
  font-weight: 300;
  margin-bottom: 3vh;
  direction: ltr;
}
.number_mobile{
  font-size: 3.5vw;
  font-weight: 300;
  margin-bottom: 3vh;
  direction: ltr;
}

.link_icon {
  width: 2.8vw;
  margin: 0 1vw;
}
.link_icon_mobile{
  width: 8vw;
  margin: 0 1vw;
}
