.form-parent {
  width: 30vw;
}

.title {
  margin-bottom: 3.5vh;
  font-size: 1.5vw;
  color: white;
}

.form-parent input,
.form-parent textarea {
  width: 100%;
  border: solid #007aa8 0.15vw;
  padding: 0.4vw;
  border-radius: 0.5vw;
  background-color: inherit;
  margin: 0.8vh 0;
  font-size: 1.2vw;
  color: #2ec5ff;
}

.form-parent textarea {
  height: 33vh;
}

.form-parent input::placeholder,
.form-parent textarea::placeholder {
  font-size: 1.2vw;
  font-weight: 300;
  color: #2ec5ff;
}
.form-parent input:focus-visible,
.form-parent textarea:focus-visible {
  outline: none;
}
.form-parent form input:last-of-type {
  width: 10vw;
  color: white;
  background-color: #00A8E8;
  font-weight: 300;
  padding: 1vh 0;
  cursor: pointer;
}
.form-parent form input:last-of-type:active {
  border-color: white;
}
