@font-face {
  font-family: "IRANSansXFaNum";
  src: URL("./fonts/IRANSansXFaNum-Regular.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: URL("./fonts/IRANSansXFaNum-Bold.woff") format("woff");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IRANSansXFaNum", "sans-serif";
  font-weight: 400;
}
body {
  background-color: #003459;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.8vw;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #00a8e8;
}
