.customers_section {
  display: flex;
  flex-direction: column;
  background-color: #002036;
  padding-bottom: 8vh;
}

.title {
  align-self: center;
  background-image: linear-gradient(to left, #0090c7, #9ce4ff);
  background-clip: text;
  color: transparent;
  padding-top: 5vh;
  font-size: 2.3vw;
}

.customers {
  display: flex;
  justify-content: space-around;
  margin: 5vh 10vw 0;
}
