.desk_descriptions {
  margin: 10vh auto 13vh;
  display: flex;
  align-items: center;
  margin: 7vh 14vw;
  gap: 5vw;
}

.mobile_descriptions {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
